{% extends "main/base.html" %}

{% block content %}
<div class="container-fluid">
    {% if form.errors %}
    <div class="row">
        <div class="alert alert-danger" role="alert">
            <p>Your username and password didn't match. Please try again.</p>
        </div>
    </div>
    {% endif %}

    {% if next %}
    <div class="row">
        <div class="alert alert-danger" role="alert">
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="pr-4">{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td class="pr-4">{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn btn-primary mt-2" value="login"></td>
                    <td><input type="hidden" name="next" value="{{ next }}"></td>
                </tr>
                <tr>
                    <td><br /><a class="mt-6" href="{% url 'password_reset' %}">Lost password?</a></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock content %}