{% raw %}
{% extends "main/base.html" %}

{% block content %}
<div class="container-fluid">
    {% if form.errors %}
    <div class="row">
        <div class="alert alert-danger" role="alert">
            {{ form.old_password.errors }}
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
        </div>
    </div>
    {% endif %}


    <div class="row">
        <p>Please enter your old password, followed by your new password twice so we can verify you typed it in
            correctly.</p>
    </div>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <fieldset class="module aligned wide">
                <table>
                    <tr>
                        <td class="pr-4">{{ form.old_password.label_tag }}</td>
                        <td>{{ form.old_password }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% if form.new_password1.help_text %}
                            <div class="help">{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="pr-4">
                            {{ form.new_password1.label_tag }}
                        </td>
                        <td>
                            {{ form.new_password1 }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <td colspan="2">
                            {% if form.new_password2.help_text %}
                            <div class="help">{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="pr-4">
                            {{ form.new_password2.label_tag }}
                        </td>
                        <td>
                            {{ form.new_password2 }}
                        </td>
                    </tr>
                </table>
            </fieldset>
            <div class="submit-row mt-4">
                <input type="submit" value="Change my password" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% endraw %}
