{% extends "main/base.html" %}

{% block content %}
{% if validlink %}
<div class="container-fluid">
    <div class="row">
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
    </div>
<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    {% if form.new_password1.errors or form.new_password2.errors %}
        <div class="row">
            <div class="alert alert-danger" role="alert">
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
            </div>
        </div>
    {% endif %}
    <table>
        <div class="row field-password1 mb-2">
            <tr>
                <td class="pr-4"><label for="id_new_password1">New password:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
        </div>
        <div class="row field-password2 mt-2 mb-2">
            <tr>
                <td class="pr-4"><label for="id_new_password2">Confirm password:&NonBreakingSpace;</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
        </div>
    </table>
    <div class="row mt-2">
        <input class="btn btn-primary" type="submit" value="Change my password ">
    </div>
</fieldset>
</form>
</div>

{% else %}

<div class="container-fluid">
    <div class="row">
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    </div>
</div>

{% endif %}

{% endblock %}
